.choice_my_object_modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

  .container_choice_my_object_modal {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1270px;
    width: auto;
    height: auto;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 50px;

    .title {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 44px;
      color: #000000;
      margin: 50px 0 50px 0;
    }

    .grid_block {
      display: grid;
      grid-template-columns: repeat(4, 260px);
      grid-gap: 45px;
      width: auto;
      height: auto;
      margin-bottom: 90px;
  
      .object_block {
        width: 260px;
        height: 263px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background: #000000;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
  
        .img_object {
          width: 240px;
          height: 177px;
          border-radius: 10px;
          object-fit: cover;
        }
  
        .div_info {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: auto;
          margin-bottom: 4px;
  
          div {
            width: auto;
            max-width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            overflow: hidden;
  
            .title {
              font-family: 'Open Sans', sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 20px;
              color: #009CF0;
              margin: 4px 0 0 0;
              max-width: 240px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
  
            .city {
              font-family: 'Open Sans', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 20px;
              color: #FFFFFF;
              max-width: 240px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
  
        .date_add {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          color: #FFFFFF;
          max-width: 240px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
  
      .object_block:hover {
        box-shadow: 0px 0px 30px rgba(0, 156, 240, 0.5);
      }
  
      .object_block:active {
        border: 3px solid #009CF0;
        padding: 7px;
      }

      .object_block_selected {
        width: 260px;
        height: 263px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background: #000000;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        border: 3px solid #009CF0;
        padding: 7px;
        box-shadow: 0px 0px 30px rgba(0, 156, 240, 0.7);
  
        .img_object {
          width: 240px;
          height: 177px;
          border-radius: 10px;
          object-fit: cover;
        }
  
        .div_info {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: auto;
          margin-bottom: 4px;
  
          div {
            width: auto;
            max-width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            overflow: hidden;
  
            .title {
              font-family: 'Open Sans', sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 20px;
              color: #009CF0;
              margin: 4px 0 0 0;
              max-width: 240px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
  
            .city {
              font-family: 'Open Sans', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 20px;
              color: #FFFFFF;
              max-width: 240px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
  
        .date_add {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          color: #FFFFFF;
          max-width: 240px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .text_error {
      display: flex;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 44px;
      color: #009CF0;
      margin: 0 0 0 0;
    }

    .button_block {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin: 50px 0;
      gap: 15px;

      .button_cancel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 185px;
        height: 65px;
        background-color: #009CF0;
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        margin: 0 0 0 0;
        cursor: pointer;
      }

      .button_cancel:active {
        box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
      }

      .button_send {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 185px;
        height: 65px;
        color: #009CF0;
        background: #FFFFFF;
        border: 2px solid #009CF0;
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        margin: 0 0 0 0;
        cursor: pointer;
      }

      .button_send:active {
        box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .choice_my_object_modal {
  
    .container_choice_my_object_modal {
  
      .grid_block {
        grid-template-columns: repeat(3, 260px);
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .choice_my_object_modal {
  
    .container_choice_my_object_modal {
  
      .grid_block {
        grid-template-columns: repeat(2, 260px);
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .choice_my_object_modal {
  
    .container_choice_my_object_modal {
      padding: 0 25px;

      .title {
        font-size: 24px;
        line-height: 32px;
      }
  
      .grid_block {
        grid-template-columns: repeat(1, 260px);
      }
  
      .button_block {
        flex-direction: column;
      }
    }
  }
}