.container_edit_user {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1175px;
  min-width: 800px;
  width: 100%;
  min-height: 72vh;
  user-select: none;

  .title_page {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #009CF0;
    margin: 90px 0 90px 0;
    text-align: center;
  }

  .main_block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 0 70px 0;

    .img_block {
      height: auto;
      width: 52%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .img_user {
        width: 100%;
        height: 567px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #009CF0;
      }

      .button_img_block {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 30px 0 0 0;

        label {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          p {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: var(--text-color);
          }

          img {
            width: 35px;
            height: 35px;
            cursor: pointer;
            margin: 0 0 10px 0;
          }
        }
      }
    }

    .main_input_block {
      width: 48%;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      gap: 100px;

      .one_input_block {
        width: 71%;
        height: 68px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .input_text {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          width: 100%;
          height: 40px;
          background: #FFFFFF;
          border: 2px solid #009CF0;
          border-radius: 5px;
          padding-left: 13px;
        }

        .input_text:focus {
          outline: none;
        }

        .input_description {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          width: 100%;
          height: 145px;
          background: #FFFFFF;
          border: 2px solid #009CF0;
          border-radius: 5px;
          padding: 7px 0 0 16px;
        }

        .input_description:focus {
          outline: none;
        }

        .text_error {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          color: #FF0000;
          margin: 8px 0 0 10px;
        }
      }

      .main_input_block__button-change-password {
        height: 50px;
        width: 100%;
        max-width: 235px;
        min-width: 195px;
        background: #009CF0;
        border-radius: 5px;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        cursor: pointer;
        align-self: center;
      }

      .main_input_block__button-change-password:active { 
        box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
      }
    }
  }

  .button_save_user {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 287px;
    min-width: 250px;
    width: 100%;
    height: 66px;
    background-color: #009CF0;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0 0 90px 0;
    cursor: pointer;
  }

  .button_save_user:active { 
    box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
  }
}

@media screen and (max-width: 1250px) {
  .container_edit_user {
    width: 90%;
  }
}

@media screen and (max-width: 850px) {
  .container_edit_user {
    min-width: 0px;

    .main_block {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .img_block {
        width: 100%;
        margin: 0 0 50px 0;
  
        .img_user {
          max-width: 567px;
          max-height: 567px;
          min-width: 250px;
          min-height: 250px;
          width: 100%;
          height: 100%;
        }

        .button_img_block {
          width: 100%;
          height: auto;
        }
      }

      .main_input_block {
        max-width: 550px;
        min-width: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .one_input_block {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .container_edit_user {
    .title_page {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 300px) {
  .container_edit_user {
    .main_block {
      .img_block {
        .img_user {
          max-width: 567px;
          max-height: 567px;
          min-width: 250px;
          min-height: 250px;
          width: 100%;
          height: 100%;
        }

        .button_img_block {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          label {
            margin: 0 0 20px 0;
          }
        }
      }
    }
  }
}