.container_information {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  min-height: 72vh;

  .title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #009CF0;
    margin: 90px 0 90px 0;
  }

  .info_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0 0 90px 0;

    .logo {
      width: 100%;
      height: 100%;
      max-width: 200px;
      max-height: 200px;
      min-width: 200px;
      min-height: 200px;
      margin: 0 0 0 0;
      pointer-events: none;
    }
  
    .text_information {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
      color: var(--text-color);
  
      strong {
        font-weight: 600;
        color: #009CF0;
      }

      .gmail {
        user-select: text;
      }
  
      a {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: var(--text-color);
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .container_information {
    
    .info_block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 0 0 90px 0;
  
      .logo {
        margin: 0 0 45px 0;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .container_information {
    width: 90%;

    .title {
      margin: 45px 0 45px 0;
    }

    .info_block {
      margin: 0 0 45px 0;
    }
  }
}