.container_main_page {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1175px;
  width: 100%;
  min-height: 72vh;
  user-select: none;

  .search_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin: 90px 0 45px 0;

    .filter_block {
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      border-radius: 5px;
      background-color: #009CF0;
      border: 3px solid #009CF0;

      .categories {
        width: 18%;
        height: 100%;
        border: none;
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        padding: 0 0 0 13px;
        text-overflow: ellipsis;
        outline: none;
      }

      .categories_first_option {
        width: 18%;
        height: 100%;
        border: none;
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        padding: 0 0 0 13px;
        text-overflow: ellipsis;
        color: gray;
        outline: none;

        option {
          color: #000;
          outline: none;
        }
      }

      .two_arrow_buttom {
        width: 27px;
        height: 27px;
        margin: 0 20px 0 20px;
        cursor: pointer;
      }

      .categoriesReceive {
        width: 18%;
        height: 100%;
        border: none;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        padding: 0 0 0 13px;
        text-overflow: ellipsis;
        outline: none;
      }

      .categoriesReceive_first_option {
        width: 18%;
        height: 100%;
        border: none;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        padding: 0 0 0 13px;
        text-overflow: ellipsis;
        color: gray;
        outline: none;

        option {
          color: #000;
          outline: none;
        }
      }

      .search {
        width: 30%;
        height: 100%;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        padding: 0 0 0 13px;
        border-right: 2px solid #009CF0;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border-left: 0.5px solid rgba(0, 0, 0, 0.5);
      }

      .search:focus {
        outline: none;
      }

      .city {
        width: 20%;
        height: 100%;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        padding: 0 0 0 13px;
        border-left: 2px solid #009CF0;
        border-radius: 5px;
      }

      .city:focus {
        outline: none;
      }

      .button_search {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        width: 14%;
        height: 100%;
        background: #009CF0;
        border-radius: 5px;
        cursor: pointer;
      }

      .button_search:active {
        box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
      }
    }

    .sort_block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      height: 23px;
      margin: 15px 0 0 0;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 15px;
      color: var(--text-color);

      .sort_block_title {
        margin: 0 32px 0 0;
      }
      
      .check_block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: auto;
        height: 100%;
        margin: 0 32px 0 0;
        cursor: pointer;
        white-space: nowrap;

        .input_checkbox_none {
          display: none;
        }
        
        .input_checkbox {
          width: 15px;
          height: 15px;
          margin: 0 8px 0 0;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #009CF0;
          border-radius: 5px;
        }

        .input_checkbox::before {
          content: '';
          width: 5px;
          height: 5px;
          background-color: #009CF0;
          border-radius: 100%;
          opacity: 0;
          transition: .1s;
        }

        .input_checkbox_none:checked + .input_checkbox::before {
          opacity: 1;
        }
      }

      .check_block:hover {
        .input_checkbox {
          background-color: #009CF0;
        }

        .input_checkbox::before {
          background-color: #19191A;
        }
      }

      .check_block:active {
        .input_checkbox {
          box-shadow: 0px 0px 10px rgba(0, 156, 240, 0.5);
        }
      }
    }
  }

  .grid_block {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-gap: 45px;
    width: auto;
    height: auto;
    margin-bottom: 90px;

    .object_block {
      width: 260px;
      height: 263px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background: var(--cell-grid-color);
      box-shadow: var(--box-shadow-color);
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;

      img {
        width: 240px;
        height: 177px;
        border-radius: 10px;
        object-fit: cover;
      }

      .div_info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin-bottom: 4px;

        div {
          width: auto;
          max-width: 80%;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          .title {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #009CF0;
            margin: 4px 0 0 0;
            max-width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .city {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: var(--text-color);
            max-width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .date_add {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: var(--text-color);
        max-width: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .object_block:hover {
      box-shadow: var(--box-shadow-color-hover);
    }

    .object_block:active {
      border: 1px solid var(--icon-color);
      padding: 9px;
    }
  }

  .text_error {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #009CF0;
    margin: 45px 0 90px 0;
  }

  .status_false {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .container_main_page {
    .search_block {
      width: 870px;
    }

    .grid_block {
      grid-template-columns: repeat(3, 260px);
    }
  }
}

@media screen and (max-width: 950px) {
  .container_main_page {
    .search_block {
      max-width: 570px;
      min-width: 250px;
      width: 90%;
      height: auto;
      margin: 45px 0 25px 0;

      .filter_block {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 20px 0;
  
        .categories {
          width: 100%;
          height: 40px;
        }
  
        .categories_first_option {
          width: 100%;
          height: 40px;
        }
  
        .two_arrow_buttom {
          width: 30px;
          height: 30px;
          margin: 5px 0 5px 0;
        }
  
        .categoriesReceive {
          width: 100%;
          height: 40px;
        }
  
        .categoriesReceive_first_option {
          width: 100%;
          height: 40px;
          border-radius: 5px;
        }
  
        .search {
          width: 100%;
          height: 40px;
          border-radius: 5px;
          margin: 10px 0 10px 0;
        }
  
        .city {
          width: 100%;
          height: 40px;
          margin: 0 0 10px 0;
        }
  
        .button_search {
          width: 50%;
          height: 40px;
          border: 1px solid white;
        }
  
        .button_search:active {
          color: #009CF0;
          background: white;
          border: 1px solid #009CF0;
          box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
        }
      }

      .sort_block {
        height: auto;
        margin: 0 0 0px 0;
        
        .sort_block_title {
          margin: 0 32px 20px 0;
        }
        
        .check_block {
          margin: 0 32px 20px 0;
        }
      }
    }

    .text_error {
      max-width: 570px;
      min-width: 250px;
      width: 90%;
      text-align: center;
      height: auto;
    }

    .grid_block {
      grid-template-columns: repeat(2, 260px);
    }
  }
}

@media screen and (max-width: 650px) {
  .container_main_page {
    .search_block {
      margin: 45px 0 5px 0;

      .sort_block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;
  
        .sort_block_title {
          margin: 0 0 20px 0;
        }
        
        .check_block {
          margin: 0 0 20px 0;
          white-space: nowrap;
        }
      }
    }

    .text_error {
      font-size: 20px;
    }

    .grid_block {
      grid-template-columns: repeat(1, 260px);
    }
  }
}