.container_object_page {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1175px;
  min-width: 970px;
  width: 100%;
  min-height: 72vh;
  user-select: none;
  font-family: 'Open Sans', sans-serif;
  margin-top: 90px;
  margin-bottom: 90px;

  .left_block {
    height: auto;
    width: 52%;
    max-width: 585px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .title_block {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0 0 30px 0;
      overflow: hidden;
      text-overflow: ellipsis;

      .title_data {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: var(--text-color);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .title_edit_delete_block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        gap: 20px;

        .title_text{
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 44px;
          color: #009CF0;
          margin: 0;
          overflow-wrap: anywhere;
        }

        .icon_block {
          max-width: 100px;
          min-width: 60px;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          img {
            width: 27px;
            height: 27px;
            cursor: pointer;
          }
        }

        .icon_block_false {
          display: none;
        }
      }
    }

    .favourites_date_block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 40px;
      margin: 0 0 20px 0;

      .button_add_favourite {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 235px;
        height: 40px;
        background-color: #009CF0;
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        margin: 0 30px 0 0;
        cursor: pointer;
      }
    
      .button_add_favourite:active { 
        box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
      }

      .button_favourite_false {
        display: none;
      }

      .button_delete_favourite {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 235px;
        height: 40px;
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        margin: 0 30px 0 0;
        cursor: pointer;
        color: #009CF0;
        background: #FFFFFF;
        border: 2px solid #009CF0;
      }
    
      .button_delete_favourite:active { 
        box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
      }

      .date_text {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: var(--text-color);
      }
    }

    .main_img {
      width: 100%;
      height: 560px;
      object-fit: cover;
      border-radius: 5px;
      border: 2px solid #009CF0;
    }
  }

  .right_block {
    width: 45%;
    height: 100%;
    min-height: 560px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 153px 0 0 85px;

    .title_description {
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 35px;
      color: #009CF0;
      margin-bottom: 30px;
    }

    .text_description {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: var(--text-color);
      overflow-wrap: anywhere;
      margin-bottom: 30px;
    }

    .user_block {
      height: auto;
      max-width: 300px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 30px;

      .user_info_block {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .user_name_date_block {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          .name {
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 23px;
            color: #009CF0;
            margin: 0 0 7px 0;
          }

          .date {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: var(--text-color);
          }
        }

        .user_img {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          object-fit: cover;
          border: 1px solid #009CF0;
        }
      }

      .button_go_personal_account {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        background-color: #009CF0;
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        margin: 15px 0 0 0;
        cursor: pointer;
      }
    
      .button_go_personal_account:active { 
        box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
      }
      
      .hint {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: var(--text-color);
        margin: 7px 0 0 0;
      }
    }

    .user_block_false {
      display: none;
    }

    .button_send_request {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 63px;
      background-color: #009CF0;
      border-radius: 5px;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #FFFFFF;
      cursor: pointer;
      text-align: center;
    }

    .button_delete_request {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 63px;
      background-color: #FFFFFF;
      border-radius: 5px;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #009CF0;
      cursor: pointer;
      border: 2px solid #009CF0;
      padding: 0 20px;
      text-align: center;
    }

    .button_send_request:active { 
      box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
    }

    .button_delete_request:active { 
      box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
    }

    .button_send_request_false {
      display: none;
    }
  }
  
  .right_block_ownerStatus_false {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 153px 0 0 85px;

    .title_description {
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 35px;
      color: #009CF0;
      margin: 0 0 35px 0;
      overflow-wrap: anywhere;
      margin-bottom: 30px;
    }

    .text_description {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: var(--text-color);
      overflow-wrap: anywhere;
      margin-bottom: 30px;
    }

    .user_block {
      height: auto;
      max-width: 300px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 30px;

      .user_info_block {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .user_name_date_block {
          width: auto;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          .name {
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 23px;
            color: #009CF0;
            margin: 0 0 7px 0;
          }

          .date {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: var(--text-color);
          }
        }

        .user_img {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          object-fit: cover;
        }
      }

      .button_go_personal_account {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        background-color: #009CF0;
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        margin: 15px 0 0 0;
        cursor: pointer;
      }
    
      .button_go_personal_account:active { 
        box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
      }
      
      .hint {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: var(--text-color);
        margin: 7px 0 0 0;
      }
    }

    .user_block_false {
      display: none;
    }

    .button_send_request {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 63px;
      background-color: #009CF0;
      border-radius: 5px;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #FFFFFF;
      cursor: pointer;
      text-align: center;
    }

    .button_delete_request {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 63px;
      background-color: #FFFFFF;
      border-radius: 5px;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #009CF0;
      cursor: pointer;
      border: 2px solid #009CF0;
      padding: 0 20px;
      text-align: center;
    }

    .button_send_request:active { 
      color: #009CF0;
      background: #FFFFFF;
      border: 2px solid #009CF0;
    }

    .button_send_request_false {
      display: none;
    }
  }
}

@media screen and (max-width: 1250px) {
  .container_object_page {
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    min-width: 0;
  
    .left_block {
      height: auto;
      width: 90%;
      max-width: 2000px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 50px;

      .main_img {
        max-width: 560px;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .right_block {
      width: 90%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0;
  
      .text_description {
        margin-bottom: 50px;
      }
  
      .user_block {
        height: auto;
        max-width: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 50px;
      }
  
      .button_send_request {
        align-self: center;
      }
  
      .button_delete_request {
        align-self: center;
      }
    }

    .right_block_ownerStatus_false {
      width: 90%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .container_object_page {

    .left_block {
      height: auto;
      width: 90%;
      max-width: 1000px;

      .title_block {
  
        .title_edit_delete_block {
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: auto;
          gap: 30px;
  
          .title_text{
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 30px;
            color: #009CF0;
            margin: 0;
            overflow-wrap: anywhere;
          }
        }
      }

      .favourites_date_block {
        display: flex;
        flex-direction: column;
        height: auto;
  
        .button_add_favourite {
          margin: 0 0 20px 0;
        }
  
        .button_delete_favourite {
          margin: 0 0 20px 0;
        }
      
        .button_delete_favourite:active { 
          box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
        }
  
        .date_text {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          color: #FFFFFF;
        }
      }

      .main_img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .right_block {
      align-items: center;

      .title_description {
        margin-bottom: 20px;
      }
  
      .text_description {
        margin-bottom: 50px;
      }
  
      .user_block {
        margin-bottom: 50px;
      }
  
      .button_send_request {
        font-size: 18px;
        line-height: 18px;
      }
  
      .button_delete_request {
        font-size: 18px;
        line-height: 18px;
      }
    }

    .right_block_ownerStatus_false {
      align-items: center;
    }
  }
}
