.container-transactions {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1175px;
  width: 100%;
  min-height: 72vh;
  user-select: none;

  .title_page {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #009CF0;
    margin: 90px 0;
  }

  .trans__list-blocks {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: 90px;
    padding: 0 50px;

    .trans__block {
      max-width: 690px;
      min-width: 575px;
      width: 100%;
      height: 290px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--cell-grid-color);
      border-radius: 10px;
      cursor: pointer;
      box-shadow: var(--box-shadow-color);

      .trans__object {
        max-width: 240px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;
        overflow: hidden;
        text-overflow: ellipsis;

        .trans__obj-img {
          width: 240px;
          height: 180px;
          border-radius: 5px;
          object-fit: cover;
        }

        .trans__obj-text {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 17px;
          color: var(--text-color);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .trans__obj-text.name {
          color: #009CF0;
        }

        .trans__status-block {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          color: var(--text-color);

          span {
            margin-right: 5px;
          }

          .trans__status-block_status-text {
            font-weight: 600;
            margin-right: 10px;
          }

          .trans__status-block_img {
            width: 15px;
            height: 15px;
            object-fit: cover;
          }
        }
      }

      .trans__blocks_two-arrow-img {
        width: 75px;
        height: 75px;
      }
    }

    .trans__block:hover {
      box-shadow: var(--box-shadow-color-hover);
    }

    .trans__block:active {
      border: 1px solid var(--icon-color);
      padding: 9px;
    }
  }

  .text_error {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #009CF0;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 700px) {
  .container-transactions {
    .trans__list-blocks {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 50px;
      margin-bottom: 90px;
      padding: 0 50px;
  
      .trans__block {
        min-width: 260px;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        padding: 25px;
        gap: 10px;

        .trans__blocks_two-arrow-img {
          transform: rotate(90deg);
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container-transactions {

    .title_page {
      font-size: 28px;
      line-height: 40px;
      text-align: center;
    }

    .trans__list-blocks {
      width: 95%;
      padding: 0;
  
      .trans__block {
        max-width: 240px;
        width: 100%;
        padding: 10px;
      }
    }
  }
}