.modal_delete {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

  .container_delete_modal {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 590px;
    width: auto;
    height: 300px;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 50px;

    .title {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 44px;
      color: #000000;
    }

    .button_block {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      gap: 15px;

      .button_cancel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 185px;
        height: 65px;
        background-color: #009CF0;
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        margin: 0 0 0 0;
        cursor: pointer;
      }

      .button_cancel:active {
        box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
      }

      .button_delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 185px;
        height: 65px;
        color: #009CF0;
        background: #FFFFFF;
        border: 2px solid #009CF0;
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        margin: 0 0 0 0;
        cursor: pointer;
      }

      .button_delete:active {
        box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .modal_delete {
  
    .container_delete_modal {
      padding: 0 35px;
  
      .title {
        font-size: 24px;
        line-height: 32px;
      }
  
      .button_block {
        flex-direction: column;
      }
    }
  }
}