.rating_modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

  .rating_modal__container_rating_modal {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    max-width: 1085px;
    min-height: 560px;
    width: 90%;
    height: auto;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    border-radius: 10px;
    padding: 25px 50px;

    .container_rating_modal__title {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 44px;
      color: #000000;
      text-align: center;
    }

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .container_rating_modal__comment {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        width: 100%;
        max-width: 900px;
        height: 200px;
        background: white;
        border: 2px solid #009CF0;
        border-radius: 5px;
        padding: 7px 0 0 16px;
        margin-bottom: 20px;
      }

      .container_rating_modal__comment:focus {
        outline: none;
      }
  
      .container_rating_modal__error {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: red;
        text-align: center;
        height: 25px;
      }
    }

    .container_rating_modal__button_block {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      gap: 15px;

      .button_block__button_cancel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 185px;
        height: 65px;
        background-color: #009CF0;
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        margin: 0 0 0 0;
        cursor: pointer;
      }

      .button_block__button_cancel:active {
        box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
      }

      .button_block__button_send {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 185px;
        height: 65px;
        color: #009CF0;
        background: #FFFFFF;
        border: 2px solid #009CF0;
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        margin: 0 0 0 0;
        cursor: pointer;
      }

      .button_block__button_send:active {
        box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .rating_modal {
  
    .rating_modal__container_rating_modal {
      padding: 25px 35px;
  
      .container_rating_modal__title {
        font-size: 24px;
        line-height: 32px;
      }
  
      .container_rating_modal__button_block {
        flex-direction: column;
      }
    }
  }
}