.container_registration {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  min-height: 72vh;
  user-select: none;

  .heading {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #009CF0;
    margin: 90px 0 90px 0;
  }

  .input_block {
    height: auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .input_and_error {
      width: 100%;
      height: 100%;
      min-height: 73px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 30px;

      .input {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        width: 100%;
        height: 40px;
        background: #FFFFFF;
        border: 2px solid #009CF0;
        border-radius: 5px;
        padding-left: 13px;
      }

      .input:focus {
        outline: none;
      }

      .input_password_block {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background: #FFFFFF;
        border: 2px solid #009CF0;
        border-radius: 5px;

        .input_password {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          width: 95%;
          height: 36px;
          background: #FFFFFF;
          border: none;
          padding: 0 0 0 13px;
          border-radius: 5px;
        }

        .input_password:focus {
          outline: none;
        }

        img {
          width: 19px;
          height: 19px;
          margin: 0 5px 0 5px;
          cursor: pointer;
        }
      }

      .error_text {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #FF0000;
        margin: 8px 0 0 10px;
      }
    }
  }

  .button_register {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    width: 250px;
    height: 40px;
    background: #009CF0;
    border-radius: 5px;
    margin-bottom: 40px;
    cursor: pointer;
  }

  .button_register:active { 
    box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
  }

  a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: var(--text-color);
    margin-bottom: 90px;
    cursor: pointer;
  }

  a:active {
    color: #009CF0;
  }
}

@media screen and (max-width: 380px) {
  .container_registration {
    width: 100%;
    height: auto;
  
    .heading {
      font-size: 26px;
    }
  
    .input_block {
      height: auto;
      width: 80%;
  
      .input_and_error {
        width: 100%;
        height: auto;
      }
    }
  
    .button_register {
      width: 200px;
    }
  }
}