.container__personal-account {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 72vh;
  user-select: none;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;

  .personal-account__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #009CF0;
    margin: 90px 0;
    text-align: center;
  }

  .personal-account__title.comment {
    margin-bottom: 90px;
  }

  .personal-account__person-block {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    .person-block__img-and-person-info-block {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      .person-block__person-img {
        min-width: 200px;
        min-height: 200px;
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #009CF0;
      }
  
      .person-block__person-info-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
  
        .person-info-block___name {
          font-weight: 400;
          font-size: 22px;
          line-height: 27px;
          color: var(--text-color);
        }
  
        .person-info-block___date {
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: var(--text-color);
        }
        
        .person-info-block___city {
          font-weight: 400;
          font-size: 22px;
          line-height: 27px;
          color: var(--text-color);
        }
      }
    }

    .person-block__rating-block {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;

      .rating-block__number {
        font-weight: 400;
        font-size: 25px;
        line-height: 34px;
        color: var(--text-color);
      }
      
      .star-ratings {
        max-width: 155px;
        width: 100%;
      }
    }

    .rating-block__button-change-info-person {
      max-width: 260px;
      min-width: 205px;
      width: 100%;
      height: 65px;
      background: #009CF0;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #FFFFFF;
      cursor: pointer;
    }

    .rating-block__button-change-info-person--false {
      display: none;
    }

    .rating-block__button-change-info-person:active { 
      box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
    }
  }

  .grid_block {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-gap: 45px;
    width: auto;
    height: auto;
    align-items: center;
    justify-items: center;

    .object_block {
      width: 260px;
      height: 263px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background: var(--cell-grid-color);
      box-shadow: var(--box-shadow-color);
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;

      img {
        width: 240px;
        height: 177px;
        border-radius: 10px;
        object-fit: cover;
      }

      .div_info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin-bottom: 4px;

        div {
          width: auto;
          max-width: 80%;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          .title {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #009CF0;
            margin: 4px 0 0 0;
            max-width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .city {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: var(--text-color);
            max-width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .date_add {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: var(--text-color);
        max-width: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .object_block:hover {
      box-shadow: var(--box-shadow-color-hover);
    }

    .object_block:active {
      border: 1px solid var(--icon-color);
      padding: 9px;
    }
  }

  .personal-account__comments-block {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    margin-bottom: 90px;

    .comments-block__comment {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 25px;

      .comment__person-block {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 25px;

        .person-block__img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid #009CF0;
        }

        .person-block__info-block {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 5px;

          .info-block__name {
            font-weight: 400;
            font-size: 23px;
            line-height: 31px;
            color: var(--text-color);
            cursor: pointer;
          }

          .info-block__name:hover {
            text-decoration: underline;
          }

          .info-block__date {
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: var(--text-color);
          }
        }
      }

      .comment__text {
        width: 100%;
        font-weight: 400;
        font-size: 23px;
        line-height: 31px;
        color: var(--text-color);
        word-wrap: break-word;
      }
    }
  }

  .text_error {
    display: flex;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #009CF0;
    margin-bottom: 90px;
  }

  .text_error.grid {
    margin-bottom: 0;
  }

  .status_false {
    display: none;
  }

  .personal-account__buttons-theme-block {
    position: fixed;
    left: 20px;
    top: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--main-background-color);
    box-shadow: var(--box-shadow-color);
    cursor: pointer;
    z-index: 100;

    .buttons-theme-block__icon {
      width: 40px;
      height: 40px;
    }
  }

  .personal-account__buttons-theme-block:hover {
    box-shadow: var(--box-shadow-color-hover);
  }
}

@media screen and (max-width: 1250px) {
  .container__personal-account {

    .grid_block {
      grid-template-columns: repeat(3, 260px);
    }
  }
}

@media screen and (max-width: 1100px) {
  .container__personal-account {
    width: 100%;

    .personal-account__person-block {
      width: 100%;
      flex-direction: column;
      gap: 30px;
      padding: 0 25px;
    }
  }
}

@media screen and (max-width: 950px) {
  .container__personal-account {
    .grid_block {
      grid-template-columns: repeat(2, 260px);
    }
  }
}

@media screen and (max-width: 650px) {
  .container__personal-account {
    .grid_block {
      grid-template-columns: repeat(1, 260px);
    }

    .personal-account__comments-block {
      width: 90%;

      .comments-block__comment {
  
        .comment__person-block {
          gap: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .container__personal-account {

    .personal-account__title {
      font-size: 28px;
      line-height: 32px;
    }

    .personal-account__person-block {

      .person-block__img-and-person-info-block {
        flex-direction: column;
        gap: 30px;
    
        .person-block__person-info-block {
          align-items: center;
    
          .person-info-block___name {
            text-align: center;
          }
    
          .person-info-block___date {
            text-align: center;
          }
          
          .person-info-block___city {
            text-align: center;
          }
        }
      }
    }

    .personal-account__buttons-theme-block {
      left: 10px;
      width: 50px;
      height: 50px;
  
      .buttons-theme-block__icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}