body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html[data-theme='dark'] {
  --main-background-color: #19191A;
  --header-footer-background-color: #000000;
  --text-color: #ffffff;
  --icon-color: #ffffff;
  --box-shadow-color: 0 0 30px rgba(126, 126, 126, 0.2);
  --box-shadow-color-hover: 0 0 30px rgba(126, 126, 126, 0.5);
  --cell-grid-color: #000000;
}

html[data-theme='light'] {
  --main-background-color: #ffffff;
  --header-footer-background-color: #e9e9e9;
  --text-color: #000000;
  --icon-color: #000000;
  --box-shadow-color: 0 0 30px rgba(0, 0, 0, 0.2);
  --box-shadow-color-hover: 0 0 30px rgba(0, 0, 0, 0.5);
  --cell-grid-color: #ffffff;
}