.container_header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 100%;
  background-color: var(--header-footer-background-color);
  user-select: none;
  border-radius: 0 0 10px 10px;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 70%;
    min-width: 735px;

    .logo_block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: auto;
      width: auto;

      img {
        width: 50px;
        height: 48px;
        margin-right: 10px;
        cursor: pointer;
      }

      .logo_text_block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: auto;
        height: auto;

        .main_text {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.125em;
          color: #009CF0;
        }

        .no_main_text {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: var(--text-color);
        }
      }
    }

    .navbar_block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 400px;
      height: auto;

      .navbar_point {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: var(--text-color);
        cursor: pointer;
      }
      
      .navbar_point:hover {
        color: #009CF0;
      }
    }

    .navbar_block_no_auth {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 200px;
      height: auto;
      margin-right: 140px;

      .navbar_point {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: var(--text-color);
        cursor: pointer;
      }
      
      .navbar_point:hover {
        color: #009CF0;
      }
    }

    .icon_block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 140px;
      height: auto;

      img {
        width: 22px;
        height: 22px;
        cursor: pointer;
      }
    }

    .icon_block_no_auth {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: auto;
      height: auto;

      img {
        width: 22px;
        height: 22px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .container_header {
    height: auto;
    width: 100%;
  
    .header {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: auto;
      width: 100%;
      min-width: 410px;
  
      .logo_block {
        margin: 30px 0 15px 0;
      }
  
      .navbar_block {
        margin: 15px 0 15px 0;
        width: 400px;
        height: auto;
      }

      .navbar_block_no_auth {
        margin: 15px 0 15px 0;
      }
  
      .icon_block {
        margin: 15px 0 30px 0;
        width: 130px;
        height: auto;
      }

      .icon_block_no_auth {
        margin: 15px 0 30px 0;
        width: auto;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .container_header {
    height: auto;
    width: 100%;
  
    .header {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: auto;
      width: 100%;
      min-width: 200px;
  
      .logo_block {
        margin: 30px 0 15px 0;
      }
  
      .navbar_block {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .navbar_point {
          margin: 10px 0 10px 0;
        }
      }

      .navbar_block_no_auth {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .navbar_point {
          margin: 10px 0 10px 0;
        }
      }
    }
  }
}