.container_my_object {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1175px;
  width: 100%;
  min-height: 72vh;
  user-select: none;

  .title_page {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #009CF0;
    margin: 90px 0;
  }

  .sort_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin: 0 0 45px 0;

    .button_add_object {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      width: 220px;
      height: 39px;
      background: #009CF0;
      border-radius: 5px;
      margin: 0 32px 0 0;
      cursor: pointer;
    }

    .button_add_object:active { 
      box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
    }

    .img_sort_my_object {
      width: 23px;
      height: 23px;
      margin: 0 0 0 10px;
      border-radius: 5px;
      cursor: pointer;
    }

    .img_sort_my_object_false {
      width: 24px;
      height: 24px;
      margin: 0 0 0 9.5px;
      border: 1px solid #009CF0;
      border-radius: 5px;
      cursor: pointer;
    }

    p {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      color: var(--text-color);
    }
  }

  .grid_block {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-gap: 45px;
    width: auto;
    height: auto;
    margin-bottom: 90px;

    .object_block {
      width: 260px;
      height: 263px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background: var(--cell-grid-color);
      box-shadow: var(--box-shadow-color);
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;

      .img_object {
        width: 240px;
        height: 177px;
        border-radius: 10px;
        object-fit: cover;
      }

      .img_object_false {
        width: 240px;
        height: 177px;
        border-radius: 10px;
        opacity: 0.5;
        object-fit: cover;
      }

      .div_info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin-bottom: 4px;

        div {
          width: auto;
          max-width: 80%;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          .title {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #009CF0;
            margin: 4px 0 0 0;
            max-width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .title_false {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #009CF0;
            opacity: 0.5;
            max-width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .city {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: var(--text-color);
            max-width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .city_false {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: var(--text-color);
            opacity: 0.5;
            max-width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .date_add {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: var(--text-color);
        max-width: 240px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .date_add_false {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: var(--text-color);
        opacity: 0.5;
      }
    }

    .object_block_false {
      width: 260px;
      height: 263px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background: var(--cell-grid-color);
      box-shadow: var(--box-shadow-color);
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;

      .img_object {
        width: 240px;
        height: 177px;
        border-radius: 10px;
        object-fit: cover;
      }

      .img_object_false {
        width: 240px;
        height: 177px;
        border-radius: 10px;
        opacity: 0.5;
        object-fit: cover;
      }

      .div_info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin-bottom: 4px;

        div {
          width: auto;
          max-width: 80%;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          .title {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #009CF0;
            margin: 4px 0 0 0;
            max-width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .title_false {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            color: #009CF0;
            margin: 4px 0 0 0;
            opacity: 0.5;
            max-width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .city {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: var(--text-color);
            max-width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .city_false {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: var(--text-color);
            opacity: 0.5;
            max-width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .date_add {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: var(--text-color);
        max-width: 240px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .date_add_false {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: var(--text-color);
        opacity: 0.5;
      }
    }

    .object_block:hover {
      box-shadow: var(--box-shadow-color-hover);
    }

    .object_block_false:hover {
      box-shadow: var(--box-shadow-color-hover);
    }

    .object_block:active {
      border: 1px solid var(--icon-color);
      padding: 9px;
    }

    .object_block_false:active {
      border: 1px solid var(--icon-color);
      padding: 9px;
    }
  }

  .text_error {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #009CF0;
    margin: 45px 0 90px 0;
  }
}


@media screen and (max-width: 1250px) {
  .container_my_object {
    .sort_block {
      width: 870px;
    }

    .grid_block {
      grid-template-columns: repeat(3, 260px);
    }
  }
}

@media screen and (max-width: 950px) {
  .container_my_object {
    .sort_block {
      width: 565px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .button_add_object {
        margin: 0 0 0 0;
      }
  
      .img_sort_my_object {
        margin: 0 0 0 0;
      }
  
      .img_sort_my_object_false {
        margin: 0 0 0 -0.5px ;
      }
    }

    .grid_block {
      grid-template-columns: repeat(2, 260px);
    }

    .text_error {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 570px;
      min-width: 250px;
      width: 90%;
      text-align: center;
      height: auto;
    }
  }
}

@media screen and (max-width: 650px) {
  .container_my_object {
    .sort_block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 225px;
      height: auto;
      margin: 0 0 45px 0;
  
      .button_add_object {
        margin: 0 0 30px 0;
      }
  
      .img_sort_my_object {
        margin: 0 0 0 0;
      }
  
      .img_sort_my_object_false {
        margin: -1px 0 0 0;
      }
  
      p {
        margin: 0 0 15px 0;
      }
    }

    .grid_block {
      grid-template-columns: repeat(1, 260px);
    }

    .text_error {
      font-size: 20px;
    }
  }
}