.container-transactions-page {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1175px;
  width: 100%;
  min-height: 72vh;
  user-select: none;

  .main-block {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 90px 0;
    padding: 0 25px;
    gap: 10px;

    .object-block {
      max-width: 380px;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .object-block__title {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 34px;
        color: #009CF0;
        margin-bottom: 20px;
        overflow-wrap: anywhere;
      }

      .object-block__date {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: var(--text-color);
        margin-bottom: 15px;
      }

      .object-block__img {
        width: 380px;
        height: 280px;
        border-radius: 5px;
        object-fit: cover;
        margin-bottom: 25px;
        border: 2px solid #009CF0;
      }

      .object-block__description {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: var(--text-color);
        text-align: left;
        margin-bottom: 50px;
        overflow-wrap: anywhere;
      }

      .user_block {
        height: auto;
        max-width: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
  
        .user_info_block {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
  
          .user_name_date_block {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
  
            .name {
              font-style: normal;
              font-weight: 600;
              font-size: 17px;
              line-height: 23px;
              color: #009CF0;
              margin: 0 0 7px 0;
            }
  
            .date {
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 20px;
              color: var(--text-color);
            }
          }
  
          .user_img {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            object-fit: cover;
            border: 1px solid #009CF0;
          }
        }
  
        .button_go_personal_account {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 40px;
          background-color: #009CF0;
          border-radius: 5px;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          color: #FFFFFF;
          margin: 15px 0 0 0;
          cursor: pointer;
        }
      
        .button_go_personal_account:active { 
          box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
        }
        
        .hint {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
          color: var(--text-color);
          margin: 7px 0 0 0;
        }
      }

      .user_block_false {
        display: none;
      }
    }

    .main-block__two-arrow-img {
      max-width: 300px;
      max-height: 300px;
      min-width: 150px;
      min-height: 150px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      align-self: center;
    }
  }

  .button-block {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 90px;
    gap: 20px;
    padding: 0 20px;

    .button-block__button {
      max-width: 290px;
      min-width: 160px;
      width: 100%;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #009CF0;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #FFFFFF;
      border-radius: 5px;
      cursor: pointer;
    }

    .button-block__button:active { 
      box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
    }
  }

  .waiting-status-block {
    width: 90%;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .waiting-status-block__status {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 34px;
      color: #009CF0;
      text-align: center;
      margin-bottom: 20px;
    }

    .waiting-status-block__button {
      max-width: 290px;
      min-width: 160px;
      width: 100%;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #009CF0;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: #FFFFFF;
      border-radius: 5px;
      cursor: pointer;
    }

    .waiting-status-block__button:active { 
      box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
    }
  }

  .trans-page__status-transaction {
    width: 90%;
    margin-bottom: 90px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #009CF0;
    text-align: center;
  }

  .accepted-block {
    max-width: 360px;
    min-width: 220px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 90px;

    .accepted-block__status {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 34px;
      color: #009CF0;
      text-align: center;
      margin-bottom: 10px;
    }

    .accepted-block__number-phone {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 48px;
      color: var(--text-color);
      margin-bottom: 10px;
    }

    .accepted-block__hint {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: var(--text-color);
      margin-bottom: 25px;
    }

    .accepted-block__button {
      max-width: 235px;
      min-width: 195px;
      width: 100%;
      height: 51px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #009CF0;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #FFFFFF;
      border-radius: 5px;
      cursor: pointer;
    }

    .accepted-block__button:active { 
      box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
    }

    .accepted-block__button--fasle {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container-transactions-page {
    .main-block {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 40px;
      gap: 30px;

      .object-block {
        .object-block__img {
          max-width: 380px;
          max-height: 280px;
          width: 100%;
          height: 100%;
        }
      }

      .main-block__two-arrow-img {
        width: 150px;
        height: 150px;
        transform: rotate(90deg);
      }
    }

    .button-block {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      padding: 0 20px;
    }
  }
}