.container-check-login-to-change-password {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 72vh;
  user-select: none;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;

  .container-check-login-to-change-password__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #009CF0;
    margin: 90px 0;
  }

  .container-check-login-to-change-password__input-block {
    width: 100%;
    height: 120px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;

    .input-block__hint {
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      color: var(--text-color);
      margin-bottom: 15px;
      margin-left: 13px;
    }

    .input-block__input-login {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      width: 100%;
      height: 40px;
      background: #FFFFFF;
      border: 2px solid #009CF0;
      border-radius: 5px;
      padding-left: 13px;
      margin-bottom: 15px;
    }

    .input-block__input-login:focus {
      outline: none;
    }

    .input-block__error-text {
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      color: #FF0000;
      margin-left: 13px;
    }
  }

  .container-check-login-to-change-password__button-send {
    height: 55px;
    width: 100%;
    max-width: 275px;
    min-width: 145px;
    background: #009CF0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
    cursor: pointer;
  }

  .container-check-login-to-change-password__button-send:active { 
    box-shadow: 0px 0px 20px rgba(0, 156, 240, 0.5);
  }
}

@media screen and (max-width: 450px) {
  .container-check-login-to-change-password {
  
    .container-check-login-to-change-password__title {
      font-size: 28px;
      line-height: 40px;
    }

    .container-check-login-to-change-password__input-block {
      width: 90%;
    }
  }
}